html {
	width: 100%;
	height: 100%;
}

body {
  /*height: inherit;*/
	background-color: #232323;
	display: grid;
	margin: 0;
  padding: 0;
  text-align: center;
	
  border: solid green 2px;
  
  grid-template-columns: [col1] 5rem [col2] 5rem [col3] auto [col4] auto [col5] auto [col6] 5rem [col7] 5rem ;
	grid-template-rows: [row1] auto [row2] auto [row3] auto;
  
}

header {
  margin: 0.5rem 0rem;
	background-color: #6699ee;
  border-radius: 0.3rem;
  
  grid-column-start: col3;
  grid-column-end: col6;
  grid-row-start: row1;
  grid-row-end: row1;
}
header h1 p {
  margin: 1rem auto;
}

/*NAVBAR SECTION START*/
ul.navbar {
  border-radius: 0.3rem;
	background-color: #aaaa;
  display: grid;
  
  grid-column-start: col1;
  grid-column: span 7;
  grid-row-start: row2;
  grid-row-end: row2;
  padding: 0;
	margin: 0.5rem 1rem;
  list-style: none; 
  grid-template-columns:1fr 1fr ;
  grid-template-rows: [nav-row1] auto;
}

.navbar li button  {
  min-width: 4rem;
  min-height: 2rem;
  border-radius: 0.3rem;
}
/*NAVBAR SECTION END*/

.squares-container {
  
  grid-column-start: col3;
  grid-column-end: col6;
  grid-row-start: row3;
  grid-row-end: row3;
  
  margin: 0.5rem 0;
	border: solid red 1px;
}

.square {
  border-radius: 0.3rem;
	display: inline-grid;
	background-color: aqua;
	width: 5rem;
	height: 5rem;
  margin: 0.5rem;
}
.squares-container ul {
  padding: 0;
  margin: 0;
}